@import 'base/tipography';
@import 'base/header';
@import 'base/heading';
@import 'base/buscador';
@import 'base/descripcion';
@import 'base/variables';

body {
    background: #ddd;
    margin: 0 auto;
}
ul{
    margin: 0px; //Mejor no colocar los px en el 0
}
li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
nav{
    text-align: center;

}
a{
    text-decoration: none;
    color: $primario-claro;
}
img {
    width: 100%;
}

.heading{
    text-align: center;
    width: 100%;
    background: url(../assets/heading.png);
    background-size: auto 100%;
    background-position: center;
    padding: 150px 0px;
    //Falta el 'background-repeat: no-repeat;'

}

.container {
    text-align: center;
    width: 100%;
    img {
        margin-top: 0px;
    }
}

.textDescription {
    text-align: center;
    padding-bottom: 15px;
}

.descripcion {
    margin: 5px 10px;
    background-color: $primario-claro;
}
.explicacion {
    text-align: center;
    h3 {
        padding-top: 30px;
    }
}
.description_service {
    padding: 0px 20px 30px;
}

//Mejor unificar sistema de clases; o mayúsuculas o guionesf